.container-form-login {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-form-login {
    width: 800px;
    height: 500px;
    background-color: #202225;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px #3d4149;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.detalhe {
    width: 300px;
    height: 100%;
    background-color: #2D3033;
}

.form-login {
    width: 500px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}

#nome-login,
#email-login,
#cpf-login {
    padding: 1rem 0;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.117);
    background-color: transparent;
    color: #FFFFFF;
    margin-top: 1rem;
    text-transform: capitalize;
}

#enviar-login {
    background-color: #ccc;
    color: black;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-link-cadastro {
    background-color: #2D3033;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 5px;
}

/* ID global */
#erro {
    background-color: #BF0606;
    margin-top: 0.7rem;
    padding: 0.5rem;
    border-radius: 5px;
}

#sucess {
    background-color: #04D939;
    margin-top: 0.7rem;
    padding: 0.5rem;
    border-radius: 5px;
}


.loader-container-login {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    width: 100%;
    height: 100%;
}

.loader-login {
    border: 4px solid #3498db;
    border-radius: 50%;
    border-bottom: 4px solid transparent;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}